<div class="content-box">
	<br><br>
	<div class="container">
		<div class="row text-center">
			<div class="col-md-3">
				<div class="stat-items">
					<i class="fa fa-users" style='font-size:48px'></i>
					<h2>
						<span class="counter text-center" data-target="52630">52630

						</span>
						<span>+</span>
					</h2>
					<p>HABITANT</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="stat-items">
					<i class="fa fa-home" style='font-size:48px'></i>
					<h2>
						<span class="counter text-center" data-target="10.07">10.07


						</span>
						<span>%</span>
					</h2>
					<p>de surface habitée</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="stat-items">
					<i class="fa fa-calculator" style='font-size:48px'></i>
					<h2>
						<span class="counter text-center" data-target="120">120</span>

					</h2>
					<p>Km2 de superficie</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="stat-items">
					<i class="fa fa-bed" style='font-size:48px'></i>
					<h2>
						<span class="counter text-center" data-target="10">10</span>

					</h2>
					<p>Quartiers</p>
				</div>
			</div>
		</div>
	</div>
</div>
