<h4 style="text-align: center;">
	<strong style="color:#060" ;>flash news</strong>
</h4>
<div class="FLASH">
	<marquee behavior="scroll" scrollamount="1" direction="up" height="140" scrolldelay="60" onmouseover="this.stop()" onmouseout="this.start()">
		<P>
			<font color="#FF0000;">
				<b>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea est qui quod at debitis laboriosam sint eius id. Dolorum odit natus consequuntur ratione! Possimus, qui laborum magni sit et consequuntur?</b>
			</font>
		</P>
	</marquee><br><br><br>
</div>
