<h4 style="text-align: center;">
	<strong style="color:#060" ;>flash news</strong>
</h4>
<div class="FLASH">
	<marquee behavior="scroll" scrollamount="1" direction="up" height="140" scrolldelay="60" onmouseover="this.stop()" onmouseout="this.start()">
		{% for flash in flashes %}
			{{ flash.contenue|raw }}

		{% endfor %}
	</marquee><br><br><br>
</div>
