<div style=" background-color: #F60;">
	<h2 style="color: #000; padding:10px;" align="center" aiv="cls: aiv-slide-left; repeat;">

		<font size="3px">BIENVENUE  A ZUENOULA !</font>
	</h2>
</div>
<div style="color: #FFF; font-size:12px;text-align: justify;">

	<p>
		<img class="img-responsive" src="{{asset('media/maire/IMG-20191004-WA0001.jpg')}}" alt="" style=" width:100px; border-width: 2px; border-style: solid;" aiv="cls: aiv-scale-up; repeat;delay: 500;">


		<span style="text-align: justify; line-height: 1.6em;" aiv="cls: aiv-slide-left; repeat;">DjE BI OLIVIER</span>


	</p>
	<p aiv="cls: aiv-slide-up; repeat;delay: 1000;">
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis iusto tempore, consequuntur placeat fugiat, debitis nisi aliquid quos inventore cum similique nihil reiciendis cumque nemo. Culpa dolore pariatur ipsa earum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Non officia officiis sit dolore accusantium itaque nostrum sapiente aperiam! Facere, consequuntur necessitatibus sequi a dignissimos tempore corporis asperiores perspiciatis maxime cupiditate?
	</p>
</div>
