<!-- Top Bar -->
<div>
	<div class="top-bar" style="background-image: url({{asset('media/bd__top1.png')}});background-repeat:no-repeat;background-size:cover;">
		<div class="container">
			<div class="col-12 text-right">
				<img class="img-responsive" src="" alt="">
			</div>
		</div>
	</div>
</div>
<!-- End Top Bar -->
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ">
				<li class="nav-item">
					<a class="nav-link" href="{{path('app_home')}}">
						Accueil
					</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Nouvelle
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="">Actualité</a>
						<a class="dropdown-item" href="#">Actualité en vidéo</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Presentation
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="">La commune en bref</a>
						<a class="dropdown-item" href="#">La mairie et son administration</a>
						<a class="dropdown-item" href="#">Les différentes activités économique de la commune</a>
						<a class="dropdown-item" href="#">La commune en images</a>
					</div>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Projets
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="">La construction ou la réhabilisation de structure</a>
						<a class="dropdown-item" href="#">La participation citoyenne</a>
						<a class="dropdown-item" href="#">Développement durable</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Atouts
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="">structure de la population et dynamique demographique</a>
						<a class="dropdown-item" href="#">CULTURE
						</a>
						<a class="dropdown-item" href="#">TOURISME
						</a>
						<a class="dropdown-item" href="#">SPORT</a>
						<a class="dropdown-item" href="#">HÔTELS,RESTAURANTS ET LES GRANDES SURFACES</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Les annonces
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="">Offres d'emploie</a>
						<a class="dropdown-item" href="#">Les annonces</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Bon a savoir
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="">Boite a suggestion</a>
						<a class="dropdown-item" href="#">Information sur les services</a>
						<a class="dropdown-item" href="#">Nos contacte</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Login</a>
				</li>


			</ul>
		</div>
	</div>
</nav>
