<form method="post" action="{{ path('admin_grande_surface_delete', {'id': grande_surface.id}) }}" onsubmit="return confirm('Etre vous sûr de vouloir hotel ou restaurant numéro {{ grande_surface.id }}');">

	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ grande_surface.id) }}">
	<button class="btn">Delete</button>
</form>
