@import "~bootstrap/scss/bootstrap";
/******** TOP **************/ 
body {
  font-family: "lato", sans-serif;
  background: #f8f8f8;

  margin-bottom: 3px;
}
/*============= NAVIGATION =============*/
.navbar-brand img {
  height: 3rem;
}
.navbar {
  font-size: 1.1rem;
  background: #4981b3 !important;
  font-weight: bold;
  letter-spacing: 0.1rem;
  box-shadow: 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.navbar .navbar-collapse {
  text-align: center;
}
.navbar li a {
  color: #fff !important;
}
.navbar li .dropdown-menu a {
  background-color: #4981b3 !important;
  color: #fff !important;
}
.navbar-nav li a:hover,
.navbar-nav li.active a {
  color: white !important;
  border: 1px solid #fff !important;
}
.navbar-light .navbar-toggler {
  border-style: none;
}
/********************************************* slader ***********************************************************/
.item h3 {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
#sesbar {
  border: 2px solid #cccccc;
}
.s_i {
  padding: 1px;
}
.s_ip {
  padding: 1px;
}
.phi {
  margin: 7px;
  border: 3px solid #cccccc;
  border-radius: 20px;
}
.ph {
  margin: 7px;
  border: 3px solid #cccccc;
  border-radius: 20px 0 20px 0;
}

.pha {
  .couleur {
    background: yellow;
  }
  .ph_v {
    margin: 7px;
    border: 3px solid #cccccc;
    border-radius: 0 20px 0 20px;
  }
}

.submenu li {
  list-style-type: none;
}
.submenu a {
  display: inline-block;
  text-decoration: none;
}
.submenu {
  display: none;
}
.submenu {
  background: rgba(33, 15, 194, 0.657);
  border-radius: 0 0 20px 20px;
}
.padding-nav li:hover .submenu {
  display: inline-block;
  position: absolute;
  text-align: center;

  top: 100%;
  left: 0px;
  padding: 0px;
  z-index: 100000;
}
.submenu li {
  border-top: 1px solid #ccc;
}
.submenu li a {
  padding: 15px 30px;
  font-size: 10px;
  color: #fff;
  width: 150px;
}
.submenu li:hover a {
  border-bottom: 5px solid #007bb5;
  background: #fff;
  color: #192abf;
  font-weight: bold;
  border-radius: 0 0 20px 20px;
}
.s_ip ul {
  list-style: none;
}
.ui-tabs-nav-item {
  width: 380px;
  padding: 2px;
  margin: 5px;
}
.ui-tabs-nav-item:hover a {
  background: #a8a8a8;
}
li.ui-tabs-nav-item a {
  display: block;
  text-decoration: none;
  color: #333;
}
.vert {
  color: #0c0;
}

/*******************corp*****************************/
.warning {
  background: #f2dede;
}
.bonne {
  background: #dff0d8;
}
.headlineimage img {
  float: left;
  padding: 20px 10px 10px 0;
  width: 300px;
}
.in {
  padding: 100px;
}
.photo {
  padding: 10px;
  text-align: center;
}
.photo .btn-warning {
  background: #03a9f4 !important;
  border: none;
}
.article {
  padding: 10px;
}
.article a b {
  font-size: 14px;
}
#accueil a {
  text-decoration: none;
}
#accueil p:hover a {
  text-decoration: none;
  color: #ff6600;
}
#accueil h3:hover a {
  text-decoration: none;
  color: #ff6600;
}
#accueil a,
#accueil p {
  color: #666666;
  font-size: 18px;
}
.anonce h2 {
  font-weight: bold;
}

.video1 {
  background-color: #fc0;
}
.video2 {
  background-color: #006600;
}
.video3 {
  background-color: #006600;
}
.in a b {
  text-transform: uppercase;
}
form .submit {
  background: #ff5722;
  border-color: transparent;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}
form .submit:hover {
  background-color: #f44336;
  cursor: pointer;
}
/**********************************************************/
.breadcrumb {
  background: rgba(33, 15, 194, 0.657);
}
.breadcrumb li a {
  color: #fff !important;
}
.breadcrumb .active {
  color: rgb(10, 10, 10) !important;
}
/* New style */

.btn_s {
  border-radius: 0%;
}
.titre_actu {
  width: 100%;
}

.titre_actu h1 {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  margin-bottom: 30px;
  color: #3097d1;
  text-transform: uppercase;
}

.titre_v {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #3097d1;
}
/**************************footer**************************/

footer {
  width: 100%;
  height: auto;
  min-width: 250px;
  margin: auto;

  overflow: hidden;
  bottom: 0;
}
footer .social a {
  margin: 0px 10px 0px 0px;
  display: inline-block;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  line-height: 30px;
  font-size: 15px;
  text-align: center;
  vertical-align: bottom;
  background: #555555;
}
.social a:nth-child(1) {
  background: #3b5998;
}
.social a:nth-child(2) {
  background: #1da1f2;
}
.social a:nth-child(3) {
  background: #ff0000;
}
.social a:nth-child(4) {
  background: #ff0000;
}
.social a:nth-child(5) {
  background: #db4435;
}
footer .social a:hover {
  color: #dedede;
  background: #777;
}
footer ul {
  list-style: none;
}
footer ul li a {
  color: #fff;
}
footer ul li:hover a {
  text-decoration: none;
  color: #ff6600;
}
footer h3 {
  text-align: center;
}
.lien {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
}
.stat {
  background: #121212;
  padding-top: 20px;
  margin-bottom: 20px;
  color: #fff;
  background-attachment: fixed;
  margin-top: 50px;
}
.stat-items h2 {
  font-weight: bold;
  font-size: 42px;
  color: darkorange;
}
.stat p {
  font-weight: bold;
  letter-spacing: 1px;
}

/************ information ******************************************/

.piece {
  margin: 7px; 
  background-color: #fff;
  border: 3px solid #cccccc;
  border-radius: 5px;
}

/************ admin ******************************************/
.admin {
  background: #fff;
  padding: 50px;
  border-radius: 10px;
}
#menu-dashboard .active a {
  background-color: #f4bd16 !important;
  border-radius: 0;
  color: #fff !important;
}
#menu-dashboard li {
  border-radius: 0;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #bcbcbc;
}
#menu-dashboard li > a {
  border-radius: 0;
  padding: 10px;
  color: #444;
}
#menu-dashboard > li > a:hover,
#menu-dashboard > li > a:focus {
  color: #fff !important;
  background: #f4bd16 !important;
  -webkit-transition: all 1ms ease-in-out;
  -moz-transition: all 1ms ease-in-out;
  -ms-transition: all 1ms ease-in-out;
  -o-transition: all 1ms ease-in-out;
  transition: all 1ms ease-in-out;
}
.help {
  color: red;
}
#wrapperMenu {
  background: #21cc79 !important;
}

/*============= ARTICLE =============*/
.article img {
  transition: transform 0.3s ease-out;
  &:hover {
    transform: scale(1.075);
  }
}
