{% extends 'AdminBase1.html.twig' %}


{% block title %}Edit flash
{% endblock %}

{% block body %}
	<!-- Begin Page Content -->
	<div class="container-fluid">
		<div class="d-sm-flex align-items-center justify-content-between mb-4">
			<h1 class="h3 mb-0 text-gray-800">Modifier le flash</h1>
			<a href="{{ path('admin_flash_index') }}" class="btn btn-info">Retour</a>


			{{ include('admin/flash/_delete_form.html.twig') }}

		</div>

		{{ include('admin/flash/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

	</div>
	<!-- /.container-fluid -->


{% endblock %}
