<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Zuenoula
			{% endblock %}
		</title>
		{% block stylesheets %}
			<!-- Custom fonts for this template-->
			<link href="{{asset('vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">

			{{ encore_entry_link_tags('app') }}
			<link rel="stylesheet" type="text/css" href="{{asset('dist/aiv-optional.css')}}">


		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}

	</head>
	<body>
		{% include 'base/nav.html.twig' %}
		<div style="margin-top:13%;"> {% block body %}{% endblock %}
			</div>
			{% include 'base/footer.html.twig' %}
		</body>
	</html>
