{% extends 'AdminBase1.html.twig' %}
{% block title %}New hotel restaurant
{% endblock %}

{% block body %}
	<!-- Begin Page Content -->
	<div class="container-fluid">
		<div class="d-sm-flex align-items-center justify-content-between mb-4">
			<h1 class="h3 mb-0 text-gray-800">Nouvel hotel restaurant</h1>

			<a href="{{ path('admin_hotel_restaurant_index') }}" class="btn btn-info">Retour</a>

		</div>
		{{ include('admin/hotel_restaurant/_form.html.twig') }}

	</div>
	<!-- /.container-fluid -->
{% endblock %}
