{% extends 'base.html.twig' %}

{% block title %}New Motmaire{% endblock %}

{% block body %}
    <h1>Create new Motmaire</h1>

    {{ include('motmaire/_form.html.twig') }}

    <a href="{{ path('motmaire_index') }}">back to list</a>
{% endblock %}
